@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --outer-background: #104a4a;
  --navigation-background: #2dfcfc;
  --background: #a2c2c5;
  --foreground: #391617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--outer-background);
  font-family: Arial, Helvetica, sans-serif;
}